.title{
    color: #F00;
}
.yellow{
    background-color: rgb(255, 244, 148);
}
body{
    color: #00F;
    font-size: 21px;
    font-family:Calibri, 'Trebuchet MS', sans-serif;
}
.black{
    color: yellow;
    background-color: black;
}
.source{
    color: black;
}