body{
    color: rgb(97, 0, 92);
    background-color: rgb(240, 201, 255);
    border: 2px;
    padding-left: 3px;
    margin-top: 20px;
}
.imagen{
    width: 500px;
    height: auto;
    border-radius: 40px;
    margin: 7px;
}
ol{
    font-size: 110%;
}
.prep{
    text-align: center;
    padding-right: 400px;
    padding-left: 400px;
}
.Preparacion{
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}
